@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    font-family: 'Poppins', sans-serif;
}
.navlogo {
    margin-top: -30px;
    margin-bottom: -15px;
    margin-left: -250px;
}
.navbar{
    background-color: rgb(33, 33, 33);
}
.loginuser{
    margin-left: 50px;
    margin-right: 30px;
    text-decoration: none;
}
.emailitem{
    margin-left: 160px;
}

.container1 {
    background-color: #a2d684;
}
.wrapcontainer{
    background-color: #a2d684;
}
.hero-image{
    width: 100%;
    height: 600px;
}
.contain1{
    border-width: 2px;
    border-style: solid;
}
.contain2{
    border-width: 2px;
    border-style: solid;

}
.contain3{
    border-width: 2px;
    border-style: solid;
}
.bigcontainer{
    width: 300px;
}
.herocontainer{
    padding-left: 500px;
    padding-right: 500px;
}
.pill1{
    margin-right: 40px;
    margin-top: -200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://budburst.org/storage/media/62432/conversions/tilia-medium-square.jpg");
}
.pill2{
    margin-right: 40px;
    margin-top: -200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://empire-s3-production.bobvila.com/slides/17052/vertical_slide_wide/deck-design-11.jpg?1591219982");
    color: white;
}
.pill3{
    margin-top: -200px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://www.nps.gov/grca/learn/nature/images/Square-400-Pinyon-Pine-12-catkins-NPS-Photo.jpg?maxwidth=650&autorotate=false");
    color: white;
}
.pill1-1{
    border-radius: 10px;
    text-align: center;
    color: white;
}
.pill2-1{
    border-radius: 10px;
    text-align: center;
}
.pill3-1{
    border-radius: 10px;
    text-align: center;
}
.iconrow {
    text-align: center;
    align-items: center;
}
.iconcontainer{
    background-color: rgb(36, 127, 218);
}
.iconcontain{
    background-color: rgb(36, 127, 218);
    padding-top: 150px;
    margin-top: -100px;
}
.Calendar {
    text-align: center;
}
  .chat {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 480px;
    margin: auto;

}
  .chat h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .chat p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .chat button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  /* .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } */

  main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  .logoh1 a {
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.featureBoxes {
  display: flex;
  margin-right: 22%;
  margin-left: 22%;
  margin-top: -125px;
  color: white;
  font-size: 13px;
}

.contentColumn {
  flex: 33.33%;
  height: 245px;
  padding: 20px;
  margin: 10px;
  background-color: #cccccc;
  text-align: center;
}

.clm1 {
  background: url('http://walnutcountry.com/wp-content/uploads/2016/08/community-news.jpg');
  background-size: cover;
  border: white;
  border-style: solid;
  border-width: 2px;
}

.featureBoxes h5 {
  padding-bottom: 10px;
}

.featureBoxes li {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.featureBoxes button {
  margin-top: 20px;
  border-color: white;
  border-style: solid;
  background-color: transparent;
  color: white;
  padding: 7px;
  border-width: 1px;
  border-radius: 5px;
}

.clm2 {
  background: url('http://walnutcountry.com/wp-content/uploads/2016/08/did-you-know.jpg');
  background-size: cover;
  border: white;
  border-style: solid;
  border-width: 2px;
}
.clm3 {
  background: url('http://walnutcountry.com/wp-content/uploads/2016/08/upcoming-events.jpg');
  background-size: cover;
  border: white;
  border-style: solid;
  border-width: 2px;
}

.quickLinks {
  display: flex;
  margin-right: 22%;
  margin-left: 22%;
  color: white;
  font-size: 13px;
  background-color: #576b99;
  padding-top: 200px;
  margin-top: -200px;
}

.quickColumn {
  flex: 33.33%;
  height: 180px;
  padding: 30px;
  margin: 10px;
  background-color: #576b99;
  text-align: center;
}
.outerlink {
  background-color: #576b99;
}
.quickLinks a{
  text-decoration: none;
  color: white;
}
.quickLinks h5{
  margin-top: 15px;
}
.copy-left{
  flex: 75%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-top: 20px;
}
.copy-left h1{
  text-align: left;
}
.copy-right{
  flex: 25%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-top: 20px;
}

.copy-right li{
list-style: none;
color: #576b99;
}

.right-menu2{
  margin-top: 20px;
}


.page-container{
  display: flex;
  margin-left: 25%;
  margin-right: 20%;
}
.copy-left2{
  flex: 50%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-top: 20px;
}

.copy-right2{
  flex: 50%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-top: 100px;
  margin-right: 200px;
}
.quickLinks2 {
  display: flex;
}
.outerlink2 {
  background: #b7b7b7;
}
.news-section {
  margin-top: 50px;
}
.news-section h2{
  color: #a2d684;
  text-align: left;
}
.news-section p{
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.news-section button{
  margin-right: 20px;
  margin-top: 10px;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  background-color: #576b99;
  color: white;
  font-size: 20px;
}
.news-section a{
  text-decoration: none;
  color: white;
}
.contact-section {
  margin-top: 50px;
}
.contact-section h2{
  color: #a2d684;
  text-align: left;
}
.contact-section p{
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.contact1{
  color: red;
  font-weight: 700;
}
.emrgy p {
  margin-top: -5px;
}
.emrgy {
  padding-top: 10px;
}
.info-section h5{
  color: #576b99;
  text-align: left;
}
.info-section p{
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.acp li{
  text-align: left;
}
.login-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.login-title a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;

}

.login-button{
  margin-right: 40px;
  margin-bottom: 70px;
  height: 50px;
}
.login-main form{
  height: 400px;
  margin-top: 100px;
}
.login-main{
  background-color: transparent;
}
.dashboard-button{
  margin-right: 40px;
  margin-bottom: -85px;
  height: 50px;
}
.dashboard-text {
  margin-top: 20px;
}
.dashboard-link {
  margin-top: 20px;
}
.dashboard-main form{
  height: 480px;
  margin-top: 100px;
}
.dashboard-main{
  background-color: transparent;
}
.dashboard-button2{
  margin-right: 40px;
  height: 50px;
  width: 200px;
}
.row {
  background-color: #576b99;
  height: 800px;
}